body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

*,
*::before,
*::after {
    box-sizing: inherit;
    text-decoration: none;
}



.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-family: 'Sigmar', cursive;
    font-size: 8em;
    background-color: rgb(244, 238, 224);
}

.nav-content {
    margin-top: 1rem;
}

.middle-container {
    background-color: rgb(79, 69, 87);
    padding: 4rem;
    flex: 1;

}

.game-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 4rem;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    inline-size: 500px;
    block-size: 300px;
}

.score-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

p {
    text-align: center;
}

.player-selection,
.computer-selection {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

img {
    block-size: auto;
    inline-size: 100px;
}

.player-selection img:hover {
    border-color: aliceblue;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.6);
}

.computer-selection img {
    cursor: not-allowed;
}

.player-selection div,
.computer-selection div {
    border: solid;
}