body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

*,
*::before,
*::after {
    box-sizing: inherit;
    text-decoration: none;
}



.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-family: 'Sigmar', cursive;
    font-size: 8em;
    background-color: rgb(244, 238, 224);
}

.nav-content {
    margin-top: 1rem;
}

.middle-container {
    background-color: rgb(79, 69, 87);
    padding: 4rem;
    flex: 1;

}

.game-container {
    display: flex;
    justify-content: space-between;


}

.player-selection {
    display: flex;
    flex-direction: column;
}

.computer-selection {
    display: flex;
    flex-direction: column;
}

button {
    block-size: 100px;
    inline-size: 100px;

}